@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  background-color: #212121;
  color: #e0e0e0;
  font-family: Inter;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#title {
  font-size: 5rem;
  font-weight: 800;
}

#link {
  font-size: 1.25rem;
  font-weight: 400;
}

.textCentered {
  text-align: center;
}

#linktext {
  text-decoration: none;
}

#title-signup {
  font-size: 2.5rem;
  font-weight: 800;
}

input[type="text"],
input[type="password"] {
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  color: #e0e0e0;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: none;
  color: #e0e0e0;
  background-color: #1e1e1e;
  outline: none;
}

input[type="submit"] {
  border: none;
  padding: 0.75rem;
  border-radius: 5px;
}

input[type="submit"]:hover {
  color: #e0e0e0;
  background-color: #1e1e1e;
  padding: 0.75rem;
  border-radius: 5px;
}

#small-img {
  position: fixed;
  top: 30px;
  left: 15px;
  width: 1.5rem;
}
